html{
    font-family: Bitcount prop single;
    font-weight: 300;
    
   
}
body {
    background-color: beige;
    display: grid;
    place-items: center;
}

#emptype {
    width: 20px;
    border: 5px;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    font-family: Bitcount prop single;
    display: block;
}
#name {
    width: auto;
    border: 5px;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Bitcount prop single;
    display: block;
    

    
}
#email {
    width: auto;
    display: block;
    border: 5px;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    font-family: Bitcount prop single;
    margin-bottom: 15px;
}
#date {
    width: auto1;
    border: 5px;
    border-radius: 20px;
    font-family: Bitcount prop single;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 15px;
    display: block;
   
}

header {
    width: auto;
    border: 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: burlywood;
    margin-bottom: 20px
}

h1 {
    font-weight: 250;
    color: brown;
}
#notes {
    display: block;
    width: auto;
    border: 5px;
    border-radius: 10px;
    font-family: Bitcount prop single;
    text-align: center;
    margin-bottom: 20px;
    
}

#submit {
    width: auto;
    border: 5px;
    border-radius: 20px;
    font-family: Bitcount prop single;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    display: block;
    background-color: blanchedalmond;
}

label {
    background-color: blanchedalmond;
    border: 5px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    width: fit-content;


}

#equipment {
    width: auto;
    border: 5px;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    font-family: Bitcount prop single;
    display: block;
}
legend {
    font-weight: 500;
}

footer {
     width: auto;
    border: 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: burlywood;
    margin-bottom: 20px;
    
    
}